@import url('https://fonts.googleapis.com/css?family=Lato');

body, html, .body-wrapper{
  --bgcolor: #e2e2e2;
  margin: 0;
  height: -webkit-fill-available;
  background-color: var(--bgcolor);
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.body-wrapper{
  padding: 10px;
}

.header {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

p {
  color: black;
}

.header {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;

}

.menu {
  margin: 0px;
  font-size: 2rem;
}

.title {
  margin: 0px;
  font-size: 1.5rem;
}

.src {
  text-decoration: none;
  font-size: 1.3rem;
}

.src:hover {
  text-decoration: underline;
}

.zaposlenik{
  border: 4px solid #afafaf;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  background-color: #d4d4d4;
}

.zaposlenik:hover {
  /* outline: 2px solid #ffdf44; */
  box-shadow: 0 0 0pt 1pt red;
  cursor: pointer;
}

.ime-zaposlenika, .dnevna-satnica, .tjedna-satnica, .delta {
  margin: 5px;
  padding: 5px;
}

.dnevna-satnica::before {
  content: 'Dnevna satnica: ';
}

.tjedna-satnica::before {
  content: 'Tjedna satnica: ';
}

.visak-sati::after {
  content: ' sat(a) viška';
}

.manjak-sati::after {
  content: ' sat(i) manjka';
}

.dnevna-satnica::after, .tjedna-satnica::after  {
  content: ' sati';
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}

.inputi {
  padding: 20px;
  padding-top: 0px;
  margin: 40px;
  padding-bottom: 0px;
  margin-top: 30px;
  margin-left: 0;
  margin-bottom: 60px;

  border-left: 3px solid #afafaf;
}

.addbutton {
  margin: 20px;
  margin-left: 0;
  position: relative;
  border: 0;
  padding: 15px 25px;
  display: inline-block;
  text-align: center;
  background-color: #7fccde;
  color: white;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 4px 0px #73B9C9;
}

.addbutton:active {
    top: 4px;
    outline: none;
    box-shadow: 0px 0px 0px #73B9C9;
}

.ggraph {
  padding: 10px;
  margin-top: -20px;
  border-left: 3px solid #afafaf;
  width: 65%;
  height: 300px;
}

/* Google material design input*/
.group {
  position:relative;
  margin-top: 35px;
}

input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:250px;
  color: black;
  background-color: var(--bgcolor);
  border:none;
  border-bottom:1px solid #0025e2; /* 0025e2 - bac4ff  */
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:black;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#0025e2;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:265px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#3e56d1;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#3e56d1; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#3e56d1; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#3e56d1; }
  to 	{ width:0; background:transparent; }
}

@media only screen and (max-width: 1100px) {
  .ggraph {
    width: 100%;
  }
}
