@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
  padding: 2em;
}

#root {
  margin: 1em;
}

.employees {
  margin: 1.2em;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
}

.employee {
  border-radius: 5px;
  margin: 1em;
  display: inline-block;
}

.mh100 {
  min-height: 100%;
}

.satnica::before {
  content: 'Dnevna satnica: '
}

.tjedno::before {
  content: 'Radi ';
}

.tjedno::after {
  content: ' dana u tjednu.'
}

.cijena::before {
  content: 'Plaća: '
}

.cijena::after {
  content: ' HRK/satu';
}

.dnevno::before {
  content: 'Dnevna satnica: ';
}

.odstupanja::before {
  content: 'Odrađeno: ';
}

.odstupanja::after {
  content: ' sati';
}
